<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Added plugin to the edit and save new order controller in admin  -->
    <type name="Magento\Sales\Controller\Adminhtml\Order\Create\Save">
        <plugin name="after-save-admin" type="Affirm\Telesales\Model\Plugin\Order\Create" sortOrder="1"/>
        <plugin name="before-create-admin" type="Astound\Affirm\Model\Plugin\Order\Create" disabled="true"/>
    </type>
    <type name="Magento\Payment\Model\Method\Adapter">
        <plugin name="after-get-config" type="Affirm\Telesales\Model\Plugin\Payment\Adapter" sortOrder="1"/>
    </type>
</config>
